* {
  box-sizing: border-box;
}

.title {
	font-family: Piedra;
	font-size: 5em;
	text-align: center;
  text-shadow: 2px 2px #FF0000;

}

.jumbotron {
  border:5px solid #000;

}


.subtitle {
	font-family: Piedra;
	font-size: 2em;
	font-style: italic;
	text-align: center;

}

.gamearea {
	height: 100px;
}

.row {
	margin-bottom: 20px;
}

h3 {
	font-family: Piedra;
	text-shadow: 2px 2px #FF0000;
	font-size: 2em;
	padding-bottom: 300px;

}

header,
.player-1,
.player-2 {
  display: block;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background: #ebebeb;
  border-radius: 20px;
}

.player-1 {
  display: block;
  font-family: Piedra;
  text-shadow: 2px 2px #FF0000;
  font-size: 2em;
  width: 100%;
  height: 400px;
  overflow: hidden;
  padding-bottom: 300px;
  border:5px solid #000;
  border-radius: 20px;
}

.player-2 {
  display: block;
  font-family: Piedra;
  text-shadow: 2px 2px #FF0000;
  font-size: 2em;
  width: 100%;
  height: 400px;
  overflow: hidden;
  padding-bottom: 300px;
  border:5px solid #000;
  border-radius: 20px;
}


.score {
	padding-bottom: 270px;
}


#chat-bar {
  background-color: #808080;
  height: 300px;
  border:3px solid #000;
  border-radius: 1%;
}

button { 
  margin: 20px 20px; 
  display: inline-block; 
  width: 20%; 
  border-radius: 10px; 
  border: none; 
  padding: 10px 20px; 
  /*background-color: #d6a844; */
}




/*.checkButton {
color: #494949 !important;
text-transform: uppercase;
background: #ffffff;
padding: 20px;
border: 4px solid #494949 !important;
border-radius: 6px;
display: inline-block;
}

.checkButton:hover {
color: #ffffff !important;
background: #f6b93b;
border-color: #f6b93b !important;
transition: all 0.4s ease 0s;
}

.startButton {
color: #fff !important;
text-transform: uppercase;
background: green;
padding: 20px;
border-radius: 50px;
display: inline-block;
border: none;
}

.startButton:hover {
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}*/

.startButton {
border: none;
background: green;
color: #ffffff !important;
font-weight: 100;
padding: 20px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
}

.startButton:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

.hero-header{
  height: 400px;
}

.checkButton {
border: none;
background: #D4AF37;
color: #ffffff !important;
font-weight: 100;
padding: 20px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
}

.checkButton:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

.resetButton {
border: none;
background: blue;
color: #ffffff !important;
font-weight: 100;
padding: 20px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;

}
.resetButton:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

#centered_buttons, form { 
  display: flex; 
  justify-content: center; 
  margin-right: 20px;
  margin-left: 20px;
}

#control-box {
background-color: #d3d3d3;
border-radius: 10px;
text-align: center;
font-size: 2em;
float: none;
margin-left: 300px;
margin-right: 300px;
border: 5px solid #000;

}

#chat-box{
  width: 500px;
  height: 100px;
  overflow: auto;
  border: solid 5px black;
  background-color: azure;
  border-radius: 10px;
  padding: 5px;
  margin-left: 300px;
}

form {
  margin: 20px 0;
  }

  input[type=text] {
    width: 20%;
    border: 2px solid red;
    border-radius: 4px;
    margin:8px 0;
    outline: none;
    padding: 8px;
    transition: .3s;


  }

  input[type=text] {
    border-color: silver;
    box-shadow: 0 0 8px 0 blue;
    margin-right: 20px;
    margin-left: 20px;
  }

  label {
    font-size: 2em;
    font-family: Piedra;
    text-shadow: 2px 2px #FF0000;

  }


  #submit-username, #submit-chat {
  padding: 10px 20px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: silver;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#submit-username:hover {background-color: #3e8e41}

#submit-username:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

